In [3]:
#Vega Setup
import logging
import pandas as pd
import numpy as np
from afterpay_gdp_interfaces import RedshiftHook

import datetime
import pytz
CST = pytz.timezone('Asia/Shanghai')

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 100)
logger = logging.getLogger()
logger.setLevel(logging.INFO)
vega = RedshiftHook(cluster='vega', okta_username='songli@squareup.com') # for vega connection
def vega_execute(query):
    import datetime
    """
        vega execute SQL wrapper to commit everytime
    """
    t_start = datetime.datetime.now()
    with vega.get_conn() as vega_conn:
        with vega_conn.cursor() as cur:
            cur.execute(query)
        vega_conn.commit()
        t_end = datetime.datetime.now()
        logging.info("Vega Query Finished. Time used: {}".format(str(t_end - t_start)))
        # vega_conn.close()
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', None)  # or 199

In [4]:
import tensorflow_decision_forests as tfdf
import os
import numpy as np
import pandas as pd
import tensorflow as tf
import math

# Gen Table

In [ ]:
table_name='xxxx'

In [5]:
q=f"""
create table sandbox_analytics_au.{table_name} as (
with 
et as 
(select 
    *
    ,zticket_created_at::date as report_date
    
    FROM sandbox_analytics_au.ys_ato_ticket_tracking
    where final_tag in ('4-ato', '5-high-prob-ato'))
,cb_et as 
(select 
* from 
(
select *, ROW_NUMBER() over (partition by order_id order by chargeback_received_date) rn
from green.cur_p_f_chargeback where status = 'NotificationOfFraud' 
) where rn = 1
) 
,f as (
select order_token, id as order_id 
from green.f_order)
,base as (
select * from
sandbox_analytics_au.feature_base_sl a
where

  1=1
   and a.rule_ids='["Approved"]'
   and a.merchant_id in ('86841', '100114786') --US, AU
)
select 
a.*
,t.chargeback_created_date_first::date as cb_report_date
,issue_datetime::date as gwr_report_date
,et.report_date as et_report_date
,cb_et.chargeback_received_date::date as cb_et_report_date

from base a

left join curated_fraud_risk_green.yy_combine_cb_table_order_temp t
on a.order_token = t.order_token
and t.cb_type not like '%Merchandise%'
and t.order_source = 'Online'
 
left join sandbox_analytics_au.ys_cb_tagging_order_lvl b
on t.order_id = b.order_id
left join sandbox_analytics_au.mw_ato_goodwill_refund_3 r
on a.order_token = r.order_token
and r.order_dispute_reason = 'UNAUTHORIZED_TRANSACTION'

left join 
    f
on a.order_token=f.order_token
left join
et 
on f.order_id=et.order_id
left join 
cb_et
on f.order_id=cb_et.order_id

)

;"""

In [6]:
%%time
print(datetime.datetime.now(CST))
vega_execute(q)

2023-04-13 11:26:53.878791+08:00

INFO:root:Vega Query Finished. Time used: 0:04:02.624344

CPU times: user 5.32 ms, sys: 5.12 ms, total: 10.4 ms
Wall time: 4min 2s

# End

In [5]:
q=f"""select * from sandbox_analytics_au.{table_name}"""

In [32]:
%%time
print(datetime.datetime.now(CST))
case=vega.get_pandas_df(q)

case[['cb_report_date', 'gwr_report_date', 'et_report_date','cb_et_report_date']]=case[['cb_report_date', 'gwr_report_date', 'et_report_date','cb_et_report_date']].apply(pd.to_datetime)

case['min_report_date']=case[['cb_report_date', 'gwr_report_date', 'et_report_date','cb_et_report_date']].min(axis=1)

case['real_min_report_date']=case[['cb_report_date', 'gwr_report_date', 'cb_et_report_date']].min(axis=1)

case['order_date']=pd.to_datetime(case['checkout_time']).dt.date
import datetime
case['order_week']=case['order_date']-case['order_date'].apply(lambda x: datetime.timedelta(pd.to_datetime(x).weekday()))   

import math
case['tfa_days']=(pd.to_datetime(case['checkout_time'])-pd.to_datetime((pd.to_numeric(case['c_latest_login_2fa_success_timestamp']))\
                                                                    .apply(lambda x:datetime.datetime.fromtimestamp(0 if math.isnan(x) else x)))).dt.days
case['pw_days']=(pd.to_datetime(case['checkout_time'])-pd.to_datetime((pd.to_numeric(case['c_latest_pwd_reset_success_timestamp']))\
                                                                   .apply(lambda x:datetime.datetime.fromtimestamp(0 if math.isnan(x) else x)))).dt.days
case['otp_days']=(pd.to_datetime(case['checkout_time'])-pd.to_datetime((pd.to_numeric(case['sp_c_latest_otp_login_success_timestamp']/1000))\
                                                                   .apply(lambda x:datetime.datetime.fromtimestamp(0 if math.isnan(x) else x)))).dt.days

#case.dtypes
case.order_date=pd.to_datetime(case.order_date)

case['loss_ind']=(~case['min_report_date'].isna() )
case['loss_ind_real']=(~case['real_min_report_date'].isna())
case.loc[~(case['loss_ind_real']) & (case['loss_ind']),'loss_ind']=0.5

case['pw_tfa_days']=case[['pw_days','tfa_days','otp_days']].apply(lambda x: x.min(),axis=1)
case['pw_tfa_days_group']=pd.cut(case['pw_tfa_days'], [0,7,14,30,60,np.inf], include_lowest=True)

#device age
case['device_age_group']=pd.cut(case['device_age_in_days'], [0,1,7,30, 60, np.inf], include_lowest=True)

case['recipient_domain']=case['in_flight_order_recipient_email'].apply(lambda x: x.split('@')[-1])

case['email_mismatch']=(case['in_flight_order_consumer_email'].str.lower()!=case['consumer_email'].str.lower()).fillna(True)

case['tenure']=pd.cut(case['days_since_first_order_date'], [0,42, np.inf], include_lowest=True)

In [14]:
table=case.query("""checkout_time >'2023-01-01' and  rule_ids=='["Approved"]' """)\
    .pivot_table(values='in_flight_order_amount',index=['par_region','device_age_group'], columns='loss_ind', aggfunc='count', dropna=False, margins=True)
table['rate']=(table[1]/table['All']).apply('{:.2%}'.format)

table

# days since first order date

table=case.query("""checkout_time >'2023-01-01' and  rule_ids=='["Approved"]' """)\
    .pivot_table(values='in_flight_order_amount',index=['par_region','tenure'], columns='loss_ind', aggfunc='count', dropna=False, margins=True)
table['rate']=(table[1]/table['All']).apply('{:.2%}'.format)

table

# check 2fa group fraud rate distribution

table=case.query("""checkout_time >'2023-01-01' and  rule_ids=='["Approved"]' """)\
    .pivot_table(values='in_flight_order_amount',index=['par_region','pw_tfa_days_group'], columns='loss_ind', aggfunc='count', dropna=False, margins=True)

table['rate']=(table[1]/table['All']).apply('{:.2%}'.format)

table

# Email mismatch

table=case.query("""checkout_time >'2023-01-01' and  rule_ids=='["Approved"]' """)\
    .pivot_table(values='in_flight_order_amount',index=['par_region','email_mismatch'], columns='loss_ind', aggfunc='count', dropna=False, margins=True)

table['rate']=(table[1]/table['All']).apply('{:.2%}'.format)

table

loss_ind                       False    0.5    True      All   rate
par_region email_mismatch
AU         False            532839.0    NaN   169.0   533008  0.03%
           True              81379.0    NaN    80.0    81459  0.10%
US         False            484618.0   99.0   552.0   485269  0.11%
           True              77201.0   58.0   437.0    77696  0.56%
All                        1176037.0  157.0  1238.0  1177432  0.11%

# Aggregate

## Run date version

In [33]:
case=case.query("""checkout_time >'2023-01-01' and  rule_ids=='["Approved"]' """)

In [35]:
case_run=case.query("""checkout_time >'2023-01-01' and  rule_ids=='["Approved"]' """)\
    [['par_region','tenure','email_mismatch','pw_tfa_days_group','device_age_group','order_date','min_report_date','real_min_report_date','loss_ind','rule_ids']].copy()

In [36]:
#bad.dtypes
case_run['min_report_date']=pd.to_datetime(case_run['min_report_date'])
case_run['order_date']=pd.to_datetime(case_run['order_date'])
case_run['real_min_report_date']=pd.to_datetime(case_run['real_min_report_date'])

In [37]:
case_run['tenure']=case_run['tenure'].apply(lambda x:str(x))
case_run['pw_tfa_days_group']=case_run['pw_tfa_days_group'].apply(lambda x:str(x))
case_run['device_age_group']=case_run['device_age_group'].apply(lambda x:str(x))

In [38]:
case_run.head()

,par_region,tenure,email_mismatch,pw_tfa_days_group,device_age_group,order_date,min_report_date,real_min_report_date,loss_ind,rule_ids
0,AU,"(42.0, inf]",False,"(60.0, inf]","(60.0, inf]",2023-04-07,NaT,NaT,False,"[""Approved""]"
1,AU,"(42.0, inf]",False,"(30.0, 60.0]","(60.0, inf]",2023-04-09,NaT,NaT,False,"[""Approved""]"
2,AU,"(42.0, inf]",False,"(7.0, 14.0]","(60.0, inf]",2023-04-10,NaT,NaT,False,"[""Approved""]"
3,AU,"(42.0, inf]",False,"(60.0, inf]","(-0.001, 1.0]",2023-04-11,NaT,NaT,False,"[""Approved""]"
4,AU,"(42.0, inf]",False,"(30.0, 60.0]","(60.0, inf]",2023-03-30,NaT,NaT,False,"[""Approved""]"

In [39]:
run_date_list=pd.DataFrame(pd.date_range(case_run.order_date.min()+datetime.timedelta(days=7),case_run.order_date.max()+datetime.timedelta(days=1),freq='d'), columns=['run_date'])

#run_date_list.dtypes
run_date_list['run_date']=pd.to_datetime(run_date_list['run_date'])

run_date_list['run_date_1']=(pd.to_datetime(run_date_list['run_date'])-datetime.timedelta(days=1))
run_date_list['run_date_7']=(pd.to_datetime(run_date_list['run_date'])-datetime.timedelta(days=7))

In [40]:
%%time
import pandasql as ps

sqlcode = '''
select
case_run.*
,a.run_date
,case when real_min_report_date<run_date then 1  
when min_report_date<run_date then 0.5
else 0 end as loss_ind_run
from run_date_list a
left join case_run 
on date(case_run.order_date) between run_date_7 and run_date_1

'''

newdf = ps.sqldf(sqlcode,locals())

CPU times: user 52 s, sys: 2.51 s, total: 54.5 s
Wall time: 54.6 s

In [41]:
newdf.head()

,par_region,tenure,email_mismatch,pw_tfa_days_group,device_age_group,order_date,min_report_date,real_min_report_date,loss_ind,rule_ids,run_date,loss_ind_run
0,AU,"(42.0, inf]",0,"(60.0, inf]","(60.0, inf]",2023-02-14 00:00:00.000000,None,None,0,"[""Approved""]",2023-02-18 00:00:00.000000,0.0
1,AU,"(42.0, inf]",0,"(14.0, 30.0]","(60.0, inf]",2023-02-15 00:00:00.000000,None,None,0,"[""Approved""]",2023-02-18 00:00:00.000000,0.0
2,AU,"(42.0, inf]",1,"(7.0, 14.0]","(-0.001, 1.0]",2023-02-17 00:00:00.000000,None,None,0,"[""Approved""]",2023-02-18 00:00:00.000000,0.0
3,US,"(42.0, inf]",0,"(-0.001, 7.0]","(60.0, inf]",2023-02-12 00:00:00.000000,None,None,0,"[""Approved""]",2023-02-18 00:00:00.000000,0.0
4,US,"(42.0, inf]",0,"(7.0, 14.0]","(60.0, inf]",2023-02-12 00:00:00.000000,None,None,0,"[""Approved""]",2023-02-18 00:00:00.000000,0.0

In [42]:
newdf.shape

(6388343, 12)

In [43]:
newdf.loss_ind.value_counts()

0      6380567
1         6942
0.5        834
Name: loss_ind, dtype: int64

In [44]:
newdf.run_date=pd.to_datetime(newdf.run_date).dt.date

In [45]:
#report date
bad=newdf.query("""order_date >'2023-01-01' and  rule_ids=='["Approved"]' """)\
    .pivot_table(values='loss_ind_run',index=['par_region','tenure','email_mismatch','pw_tfa_days_group','device_age_group']
                 , columns=['run_date'], aggfunc='sum',dropna=False)

total=newdf.query("""order_date >'2023-01-01' and  rule_ids=='["Approved"]' """)\
    .pivot_table(values='loss_ind_run',index=['par_region','tenure','email_mismatch','pw_tfa_days_group','device_age_group']
                 , columns=['run_date'], aggfunc='count',dropna=False)

bad_rate=(bad/total)
bad_rate_rolling=bad_rate.rolling(7,axis=1).mean()

In [46]:
#trigger logic
report=bad_rate[(bad_rate>0.005) & ((bad_rate>3*bad_rate_rolling) & (bad>=3) | (bad>=5))].dropna(how='all').dropna(how='all',axis=1)#.applymap('{:.2%}'.format)

In [47]:
report

run_date                                                                  2023-02-21  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]          0.019934
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]               NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-02-26  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]       0.007975
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]          0.125000
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-02-27  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]          0.155556
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-02-28  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]              0.16
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-01  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]          0.117021
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-03  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]               NaN
                                                        (7.0, 30.0]         0.053571
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-04  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]          0.109375
                                                        (7.0, 30.0]         0.109091
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-05  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]        0.010178
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]          0.134615
                                                        (7.0, 30.0]         0.088235
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-06  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]        0.010471
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]          0.087838
                                                        (7.0, 30.0]         0.086957
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-07  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]               NaN
                                                        (7.0, 30.0]         0.089552
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-08  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]        0.009009
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]               NaN
                                                        (7.0, 30.0]         0.082192
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-09  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]        0.009772
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]          0.062500
                                                        (7.0, 30.0]         0.075758
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-10  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]               NaN
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]               NaN
                                                        (7.0, 30.0]         0.084746
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN

run_date                                                                  2023-03-11  \
par_region tenure      email_mismatch pw_tfa_days_group device_age_group
AU         (42.0, inf] 0              (-0.001, 7.0]     (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (7.0, 30.0]              NaN
US         (42.0, inf] 0              (-0.001, 7.0]     (-0.001, 1.0]            NaN
                                                        (1.0, 7.0]          0.023885
                                                        (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                                      (14.0, 30.0]      (7.0, 30.0]              NaN
                                      (7.0, 14.0]       (30.0, 60.0]             NaN
                                                        (7.0, 30.0]              NaN
                       1              (-0.001, 7.0]     (1.0, 7.0]               NaN
                                                        (7.0, 30.0]              NaN

In [48]:
report.shape

(15, 39)

In [49]:
bad_rate.shape

(200, 55)

In [50]:
def make_pretty(styler):
    styler.format('{:.0%}', na_rep='')
    #styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(cmap='Greens', low=0, high=0.5)#(axis=None, vmin=10, vmax=100,cmap='Greens')
    #styler.highlight_between(left=0, right=100, color='#b2fce4')#, props='color:black; background-color:#b2fce4;') 
    styler.set_table_styles([dict(selector='th', props='min-width: 5px;'),])
    return styler

In [51]:
report.fillna(0).iloc[:,20:].style.pipe(make_pretty)#.applymap('{:.2%}'.format)#.replace('nan%','') #.style.format(na_rep='')#.highlight_between(left=0, right=100)

In [ ]:
#coverage
bad[(bad_rate>0.005) & ((bad_rate>3*bad_rate_rolling) & (bad>=3) | (bad>=5))].sum().sum()/bad.dropna(how='all').dropna(how='all',axis=1).sum().sum()

0.6436170212765957

In [56]:
#coverage
bad[(bad_rate>0.005) & ((bad_rate>3*bad_rate_rolling) & (bad>=3) | (bad>=5))].sum().sum()

907.5

In [57]:
bad.dropna(how='all').dropna(how='all',axis=1).sum().sum()

1410.0